@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




:root{
    --cor-de-fundo:#105bb1;
    --cor-de-texto:white;
    --fundo-senha:#4190EA;
    --fundo-texto:#4190EA;
    --borda:#4190EA;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #105bb1;
    color:white ;
}
.titulo-principal{
    font-weight: 700;
}
.titulo-secundario{
    font-weight: 24px;