@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




:root{
    --cor-de-fundo:#105bb1;
    --cor-de-texto:white;
    --fundo-senha:#4190EA;
    --fundo-texto:#4190EA;
    --borda:#4190EA;
    --branco:white;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #105bb1;
    color:white ;
}
.titulo-principal{
    font-size: 700;
}
.titulo-secundario{
    font-size: 24px;
}
.conteudo-titulo{
 text-align: center;
 margin-top: 80px;
}

.conteudo-senha{
    text-align: center;
    margin-top: 80px;
}
.parametro-senha-botoes{
    display: flex;
   
}

.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
}

.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
}

.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
}
.parametro-senha__texto{
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
}

.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
    cursor: pointer;
}


